<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2-j8w638ADLmrqsQddaZzNGkKQJQ8fnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7616270039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookBuddies</string>
	<key>PROJECT_ID</key>
	<string>bookbuddies-d1db2</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbuddies-d1db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7616270039:ios:9297eabce542059d242a92</string>
</dict>
</plist>